/* Add the Google Font */
body {
    font-family: 'Roboto', sans-serif;
    background: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

/* Custom Scrollbar Styles */
.container::-webkit-scrollbar {
    height: 10px;
}

.container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #3b3838;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #736e6e;
}

.card {
    background: #f0f0f0;
    border-radius: 15px;
    padding: 2rem;
    width: calc(100% / 3 - 1rem);
    scroll-snap-align: center;
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow on hover */
}

.container:hover > :not(:hover) {
    opacity: 0.5;
}

.title {
    width: 100%;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1f2687;
    margin: 1rem 0;
}

.default-content {
    opacity: 1;
}

.hover-content {
    opacity: 0;
}

.card:hover .default-content {
    opacity: 0;
}

.card:hover .hover-content {
    opacity: 1;
}
